@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
       Contoso Unversity
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>
               A Sample web Application of University management system.It uses the Code-first workflow.It includes Functionality Such As Student Admission,Course Creation,Instructors assignments.
            </p>
           
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Software Version/Nu get packages used to build this Application</h2>
            <p>
                <ul>
                    <li>
                        Visual Studio 2022
                    </li>
                    <li>
                        .Net 4.8
                    </li>
                    <li>
                        Entity Framwork 6.5.1
                    </li>
                    <li>
                        Windows Azure Sdk
                    </li>
                    <li>
                        PagedList.Mvc
                    </li>
                </ul>
               
            </p>
            
        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">
            <h2 id="hostingTitle">Web Hosting</h2>
            <p>
                <ul>
                    <li>
                        IIS (Internet Information Services)
                    </li>
                    <li>
                        .NET Runtime
                    </li>
                </ul>
               

              
            </p>
           
        </section>
    </div>
</main>